<!--
 * SPDX-FileCopyrightText: 2024 Wavelens UG <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR WL-1.0
 -->

 <head>
    {% load static %}
    {% load i18n %}
</head>
<body>
    <div class="content-above">
        <div><a href="/#home" class="flex-c p-r-1rem fit-content"><img class="center-image" src="../static/dashboard/icons/arrow_back.svg"><span>{% trans 'Back' %}</span></a></div>
        <h2 class="webkit-middle space-small" class="flex-c"><img class="green-filter center-image icon" src="{% static 'dashboard/images/check-circle.svg' %}" alt="X Circle">{% trans built_name %}<span class="color-light fw-normal"> #{{ id }}</span></h2>
    </div>
</body>