<!--
 * SPDX-FileCopyrightText: 2025 Wavelens UG <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 -->

<head>
    {% load static %}
    {% load i18n %}
</head>
<body>
    <div class="content-above">
        <div><a href="/#home" class="flex-c p-r-1rem fit-content"><img class="center-image" src="{% static '/dashboard/icons/arrow_back.svg' %}"><span>{% trans 'Back' %}</span></a></div>
        <h2 class="webkit-middle space-small" class="flex-c">
            {% if success != 'waiting' %}
                <div>
                    <span class="material-icons center-image f-s-28px {% if success == 'true' %}green{% else %}red{% endif %}">
                        {% if success == 'true' %}check_circle{% else %}cancel{% endif %}
                    </span>
            {% else %}
                <div class="filter-container">
                    <div class="loader"></div>
            {% endif %}
                {{ built_name }}
                <span class="color-light fw-normal"> #{{ id }}</span>
                </div>
        </h2>
    </div>
</body>
