
<head> 
</head> 
<body> 
    <header>
        <div class="header">
            <div class="logo-container">
                <a href="/"><img src="../static/dashboard/images/wavelens-LOGO.svg" alt="Logo"></a>
                <span>{{ Projectname }} / {{ Model }}</span>
            </div>
            <div class="user"><img src="../static/dashboard/icons/user.svg"></div>
        </div> 
        <nav role="navigation">
            <a href="/#home"><img class="center-image" src="../static/dashboard/icons/command.svg"><span>Workflows</span></a>
            <a href="ai-development"><img class="center-image" src="../static/dashboard/icons/activity.svg"><span>Log</span></a>
        </nav>
    </header>