
<head> 
</head> 
<body> 
    <header>
        <div class="header">
            <div class="logo-container">
                <a href="/" class="no-hovereffect"><img src="../static/dashboard/images/wavelens-LOGO.svg" alt="Logo"></a>
                <span><a href="{% url 'workflow' %}">{{ projectname }}</a>/<a href="{% url 'model' %}">{{ model }}</a></span>
            </div>
            <div>
                <div class="dropdown">
                    <div onclick="dropdownFunction(); event.stopPropagation();" class="tooltip">
                        <span class="material-symbols-outlined icon pointer">
                            account_circle
                        </span>
                        <span class="material-symbols-outlined icon-arrow pointer">
                            keyboard_arrow_down
                        </span>
                        <span class="tooltiptext">Profil und Einstellungen...</span>
                    </div>
                    <div id="dropdownHeader" class="dropdown-content">
                        <p>signed in as {{ user.name }}</p>
                        <a href="#home" class="flex-c"><span class="material-symbols-outlined m-r-5">account_circle</span><span>Profile</span></a>
                        <a href="#about" class="flex-c"><span class="material-symbols-outlined m-r-5">star</span><span>Starred</span></a>
                        <a href="#contact" class="flex-c"><span class="material-symbols-outlined m-r-5">notifications</span><span>Subscriptions</span></a>
                        <a href="#contact" class="flex-c"><span class="material-symbols-outlined m-r-5">settings</span><span>Settings</span></a>
                        <a href="#contact" class="flex-c"><span class="material-symbols-outlined m-r-5">help</span><span>Help</span></a>
                        <a href="#contact" class="flex-c"><span class="material-symbols-outlined m-r-5">tune</span><span>Side Administration</span></a>
                        <a href="#contact" class="flex-c"><span class="material-symbols-outlined m-r-5">logout</span><span>Sign Out</span></a>
                    </div>
                </div>
                <span class="material-symbols-outlined">
                    settings
                </span>
            </div>
        </div> 
        <nav role="navigation">
            <a class="nav-link flex-c" href="{% url 'workflow' %}">
                <span class="material-symbols-outlined f-s-24px m-r-3">keyboard_command_key</span>
                <span>Workflows</span>
            </a>
            
            <a class="nav-link flex-c" href="{% url 'log' %}"><span class="material-symbols-outlined f-s-24px m-r-3">vital_signs</span><span>Log</span></a>
            <a class="nav-link flex-c" href="{% url 'download' %}"><span class="material-symbols-outlined f-s-24px m-r-3">download</span><span>Download</span></a>
            <a class="nav-link flex-c header-icon-right" href="/settings"><span class="material-symbols-outlined f-s-24px m-r-3">settings</span><span>Settings</span></a>
            <!-- <img class="center-image icon" src="../static/dashboard/icons/download.svg"> -->
        </nav>
        <!-- <nav>
            <ul>
                <li><a href="" class="nav-link">Home</a></li>
                <li><a href="" class="nav-link">About</a></li>
                <li><a href="" class="nav-link">Services</a></li>
                <li><a href="{% url 'log' %}" class="nav-link">Contact</a></li>
            </ul>
        </nav> -->
    </header>
