
<head> 
</head> 
<body> 
    <header>
        <div class="header">
            <div class="logo-container">
                <a href="/"><img src="../static/dashboard/images/wavelens-LOGO.svg" alt="Logo"></a>
                <span>{{ projectname }} / {{ model }}</span>
            </div>
            <div class="user"><img class="icon" src="../static/dashboard/icons/user.svg"></div>
        </div> 
        <nav role="navigation">
            <a href="/#home"><img class="center-image" src="../static/dashboard/icons/command.svg"><span>Workflows</span></a>
            <a class="active" href="ai-development"><img class="center-image" src="../static/dashboard/icons/activity.svg"><span>Log</span></a>
            <a href="/#home"><img class="center-image h-20" src="../static/dashboard/icons/download.svg"><span>Download</span></a>
            <!-- <img class="center-image icon" src="../static/dashboard/icons/download.svg"> -->
        </nav>
    </header>