<!--
 * SPDX-FileCopyrightText: 2025 Wavelens UG <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 -->

{% load i18n %}
{% load static %}

{% if org_id %}
<header class="m-t--1rem">
    <div class="logo-container header-workflow">
        <img src="{% static 'dashboard/images/pb2.png' %}"class="h-30 border-radius-5 vertical-align-bottom">

        {% if project_id %}
        <span><a class="header-link" href="{% url 'workflow' org_id %}">{{ org_id }}</a>/ <b>{{ project_id }}</b></span>
        {% else %}
        <span><b>{{ org_id }}</b></span>
        {% endif %}
    </div>
    <nav role="navigation">
        <a class="nav-link flex-end" href="{% url 'workflow' org_id %}">
            <span class="material-symbols-outlined f-s-19px m-r-3">keyboard_command_key</span>
            <span>{% trans 'Workflows' %}</span>
        </a>

        {% if project_id %}
        <a class="nav-link flex-end" href="{% url 'log' org_id %}"><span class="material-symbols-outlined f-s-19px m-r-3">vital_signs</span><span>{% trans 'Log' %}</span></a>
        <a class="nav-link flex-end" href="{% url 'download' org_id %}"><span class="material-symbols-outlined f-s-19px m-r-3">download</span><span>{% trans 'Download' %}</span></a>
        {% endif %}
        <a class="nav-link flex-end header-icon-right" href="settings"><span class="material-symbols-outlined f-s-19px m-r-3">settings</span><span>{% trans 'Settings' %}</span></a>
        <!-- <img class="center-image icon" src="../static/dashboard/icons/download.svg"> -->
    </nav>
</header>
{% endif %}
