[package]
name = "gradient-server"
version = "0.2.0"
edition = "2024"
license = "AGPL-3.0"
authors = ["Wavelens UG <info@wavelens.io>"]
description = "Nix-based Continuous Integration System"
repository = "https://github.com/wavelens/gradient"

[workspace]
members = [".", "core", "builder", "web", "entity", "migration"]

[dependencies]
builder = { path = "builder" }
cache = { path = "cache" }
clap = { version = "4.5", features = ["derive"] }
core = { path = "core" }
sentry = "0.38"
tokio = { version = "1.44", features = ["process", "rt-multi-thread"] }
web = { path = "web" }
