/*
 * SPDX-FileCopyrightText: 2024 Wavelens UG <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR WL-1.0
 */

 :root {
    --primary: #0d1118; /*  */
    --secondary: #abb0b4;
    --tertiary: #21262d;
    --quaternary: #050708; /* #0a0d0f */
}

/* styles.css */
body {
    background-color: var(--primary);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    /* color: #818181; */
    /* color: var(--secondary); */
    background-color: #252d33;
    border-radius: 5px;
}

.nav-link:hover {
    /* color: #818181; */
    color: var(--secondary);
    background-color: transparent;
    border-radius: 0px;
}

.header-link:hover {
    color: var(--secondary);
    background-color: transparent;
    border-radius: 0px;
}

.material-symbols-outlined {
    font-size: 30px !important;
    color: #abb0b4;
}

.filled {
    font-variation-settings:
        'FILL' 1, 
}

.full-width {
    display: inline-block;
    width: 100%;
}

button {
    cursor: pointer;
}

h2 {
    color: white;
}

input[type="text"], input[type="password"] {
    padding: 5px;
    background-color: var(--tertiary);
    border: 1px solid rgb(118, 118, 118);
    color: var(--secondary);
    border-radius: 5px;
    width: 18rem;
}

input[type="text"]:focus-visible, input[type="password"]:focus-visible, .form-field select:focus-visible {
    outline: none;
    border: 1px solid #007BFF;
}

.form-field input:-webkit-autofill {
    background-color: var(--tertiary) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--tertiary) inset !important;
    -webkit-text-fill-color: var(--secondary) !important;
    caret-color: var(--secondary) !important;
}

.form-field input:focus,
.form-field input:valid {
    background-color: var(--tertiary);
}

.space-normal {
    padding: 1rem;
}

.no-side-padding {
    padding-right: 0;
    padding-left: 0;
}

.green-filter {
    filter: invert(50%) sepia(65%) saturate(600%) hue-rotate(70deg) brightness(89%) contrast(93%);
    /* filter: brightness(0) saturate(100%) invert(31%) sepia(97%) saturate(1384%) hue-rotate(98deg) brightness(70%) contrast(80%); */
}

.red-filter {
    filter: brightness(0) saturate(100%) invert(24%) sepia(100%) saturate(7476%) hue-rotate(355deg) brightness(70%) contrast(80%);
    /* filter: invert(39%) sepia(6%) saturate(2132%) hue-rotate(321deg) brightness(99%) contrast(90%); */
}

.gray-filter {
    filter: invert(60%) sepia(1%) saturate(0%) hue-rotate(287deg) brightness(91%) contrast(88%);
}

.text-light {
    font-size: 0.8rem;
    color: #818181;
}

.color-light {
    color: #818181;
}

.color-secondary{
    color: var(--secondary);
}

.button-clear {
    background-color: transparent;
    color: var(--secondary);
    border: none;
    border-radius: 5px;
    margin: 0px 15px;
    padding: 4px 8px;
}

.button-clear:hover {
    border: 1px solid rgb(118, 118, 118);
    padding: 4px 7px;
    border-radius: 5px;
    height: 31px;
}

.button-round {
    background-color: transparent;
    color: var(--secondary);
    /* border: 1px solid var(--secondary); */
    border: 1px solid rgb(118, 118, 118);
    border-radius: 5px;
    padding: 4px 8px;
    margin: 0px 15px;
    height: 31px;
}

.button-round:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.left {
    float: left;
}

.right {
    float: right;
}

.field-select {
    background-color: var(--tertiary);
    color: var(--secondary);
    padding: 6px 8px;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 5px;
}

.field-date {
    background-color: var(--tertiary);
    color: var(--secondary);
    padding: 6px 8px;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 5px;
    width: 18rem;
}


.container {
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
    /* background-color: var(--quaternary); */
}

.container-table {
    width: 95%;
    margin: 0 auto;
    margin-top: 6rem;
    border-radius: 5px;
    background-color: var(--quaternary);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-workflow {
    font-size: x-large;
    padding-top: 1.5rem;
    padding-left: 2.4rem;
}

.search-container input[type="text"] {
    padding: 5px;
    background-color: var(--tertiary);
    border: 1px solid rgb(118, 118, 118);
    color: var(--secondary);
    border-radius: 5px;
    width: 18rem;
    height: 19px;
}

.filter-container {
    display: flex;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #2a2a2a;
    background-color: var(--quaternary);
}

tr:last-child td {
    border: none;
    /* padding-bottom: 2rem; */
}

th {
    padding-top: 2rem;
}

tr td:first-child {
    padding-left: 2rem;
}

tr td:last-child {
    padding-right: 2rem;
}

.workflows-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 6rem;
    border-radius: 5px;
    overflow: hidden;
}

.workflows-table th, .workflows-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

.workflows-table th {
    background-color: var(--tertiary);
}

.search-button {
    border-radius: 5px;
}

/* --------------------------Header-------------------------- */

header {
    border-bottom: 1px solid rgba(118, 118, 118, 0.5);
    background-color: var(--quaternary);
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.header a {
    margin: 0 1rem;
}

.header .logo-container {
    display: flex;
    align-items: center;
}

.header .logo-container span {
    margin-left: 1rem;
}

nav {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    padding-bottom: 0;
}

nav a {
    margin: 0 1rem;
}

.header .user {
    margin-left: auto;
}

.nav-link {
    padding-bottom: 5px;
    width: max-content;
}

/* ---------------------------------------------------------- */

.line-numbering {
    counter-reset: line;
}

.line-numbering span::before {
    counter-increment: line;
    content: counter(line); 
}

.innerbody {
    /* margin: 3rem 0 0 3rem; */
    background-color: var(--quaternary);
    /* padding: 2rem; */
    width: -webkit-fill-available;
    border-radius: 5px;
    border: 1px solid rgba(118, 118, 118, 0.5);
    margin-right: 1rem;
}

.innerbody-top {
    /* margin: 3rem 0 0 3rem; */
    /* background-color: var(--quaternary); */
    padding: 2rem;
    width: -webkit-fill-available;
    border-radius: 5px;
    border: 1px solid rgba(118, 118, 118, 0.5);
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.border-bottom {
    border-bottom: 1px solid rgba(118, 118, 118, 0.5);
    width: 100%;
}

pre ::before {
    margin-right: 1rem;
    color: #818181;
}

pre span {
    font-size: 15px;
    line-height: 1.5rem;
    font-family: sans-serif;
    white-space: normal;
}

.center-image {
    height: 23px;
    vertical-align: top;
    margin-right: 3px;
}

.details-content {
    position: relative;
    left: 17px;
}

.details-content .line::before {
    left: -17px;
}

.details-item summary::before {
    left: 0px;
}

.details-content .line, .details-item summary {
    position: relative;
    padding-left: 50px; /* Platz für die Nummern */
}

.details-content .line::before, .details-item summary::before {
    content: attr(data-line-number);
    position: absolute;
    /* left: 0; */
    width: 23px;
    text-align: right;
    color: gray;
}

.outerbody {
    display: flex;
}

.content-above {
    margin: 1.5rem;
    margin-bottom: 2.3rem;

}

.flex-c{
    display: flex;
    align-items: center;
}

.fw-normal{
    font-weight: normal;
}

.content-left {
    min-width: 18rem;
    padding: 0 1rem;
}

.active {
    border-bottom: 1px solid white;
    font-weight: bold;
}

.active span.material-symbols-outlined {
    color: white;
}

.icon {
    height: 30px;
}

.webkit-middle {
    vertical-align: -webkit-baseline-middle;
}

.h-23 {
    height: 23px;
}

.h-27 {
    height: 27px;
}

.h-30 {
    height: 30px;
}

.space-small {
    margin-top: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--quaternary);
    color: white;
    min-width: max-content;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border: 1px solid rgba(118, 118, 118, 0.5);
    border-radius: 5px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    /* display: block; */
    margin: 0;
}

.dropdown-content p {
    border-bottom: 1px solid rgba(118, 118, 118, 0.5);
    display: block;
    padding: 12px 16px;
    margin: 0;
}

.dropdown-content a:last-child {
    border-top: 1px solid rgba(118, 118, 118, 0.5);
}

.show {
    display: block;
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-3 {
    margin-right: 3px;
}

.activeeffect-sidebar {
    background-color: #252d33;
    border-radius: 5px;
    border-left: 5px solid blue;
    padding-left: 3px;
}

.monospace {
    font-family: 'Space Mono';
}

.full-width {
    width: -webkit-fill-available;
}

.flex-colum {
    display: flex;
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.m-r-2rem {
    margin-right: 2rem;
}

.m-b-05rem {
    margin-bottom: 0.5rem;
}

.m-t--1rem {
    margin-top: -1rem;
}

.m-t-0 {
    margin-top: 0;
}

.m-b-1rem {
    margin-bottom: 1rem;
}

.p-l-1rem {
    padding-left: 1rem;
}

.icon-center {
    height: 23px;
    vertical-align: middle;
    margin-right: 3px;
    font-size: 23px !important;
}

.f-s-21px {
    font-size: 21px !important;
}

.f-s-24px {
    font-size: 24px !important;
}

.f-s-28px {
    font-size: 28px !important;
}

.branch {
    background-color: #121d2f;
    color: #3a7ace;
    padding: 2px;
    border-radius: 5px;
}

.innerbody-header {
    background-color: #151b23;
    padding: 1rem;
    width: auto;
    border-radius: 5px;
}

.p-1rem {
    padding: 1rem;
}

.p-r-1rem {
    padding-right: 1rem;
}

.fit-content {
    width: fit-content;
}

.no-hovereffect:hover {
    background-color: transparent;
}

tr:hover td{
    background-color: #252d33;
}

.d-webkit-box {
    display: -webkit-box;
}

.icon-arrow {
    font-size: 21px !important;
    margin-left: -4px;
    top: -3px;
    position: relative;
    margin-right: 2px;
}

.pointer {
    cursor: pointer;
}

.header-icon-right {
    float: right;
    position: absolute;
    right: 1rem;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #151b23;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    border: 1px solid #444;
}

.tooltiptext.hidden {
    visibility: hidden;
    opacity: 0;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.border-radius-5 {
    border-radius: 5px;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.green {
    color: #238636;
}

.red {
    color: #fa5e55;
}

.loader {
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #c5b03b;
    box-shadow: 0 0 0 0 #c7b54e;
    animation: l1 1.5s infinite;
    margin: 0 10px;
}
@keyframes l1 {
    100% {box-shadow: 0 0 0 10px #0000}
}

.gray {
    color: #767676;
}

.text-center {
    text-align: center;
}

.form-header-label {
    margin: -20px -20px 20px -20px;
    border-bottom: 1px solid rgba(118, 118, 118, 1);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: var(--tertiary);
    border-radius: 5px 5px 0 0;
}

.form-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
    border: 1px solid rgb(118, 118, 118);
    position: relative;
    top: -2.5rem;
}
.form-field {
    margin-bottom: 15px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

.required-label::after {
    content: " *";
    color: red;
}

.form-field input {
    width: 94.5%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.form-field select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--tertiary);
    border: 1px solid rgb(118, 118, 118);
    color: var(--secondary);
}

.form-field .error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.form-check-input {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid var(--secondary);
    border-radius: 2px;
    background-color: var(--tertiary);
    cursor: pointer;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-check-input:checked {
    border-radius: 5px;
    appearance: checkbox;
}

.outer-form {
    height: 89vh;
    display: flex;
}

.normal-hover:hover {
    color: var(--secondary);
    background-color: transparent;
    border-radius: 0px;
}