/*
 * SPDX-FileCopyrightText: 2026 Wavelens GmbH <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@use '../../../styles/variables' as *;

gr-metric-chart { margin-bottom: 1rem; }
.row { display: grid; grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); gap: 1rem; }
gr-table.workers { display: block; margin-top: 1rem; }

.muted { color: var(--gr-text-muted); }
    
