[package]
name = "gradient-cli"
version = "0.1.0"
edition = "2021"
license = "AGPL-3.0"
authors = ["Wavelens UG <info@wavelens.io>"]
description = "CLI-Tool for Gradient"
repository = "https://github.com/wavelens/gradient"

[[bin]]
name = "gradient"
path = "src/main.rs"

[workspace]
members = [".", "connector"]

[dependencies]
clap = { version = "4.5", features = ["derive"] }
rpassword = "7.3"
clap_complete = "4"
strum = "0.27"
strum_macros = "0.27"
serde = { version = "1.0", features = ["derive"] }
dirs = "6.0"
toml = "0.8"
tokio = { version = "1.44", features = ["macros", "process", "rt-multi-thread"] }
serde_json = "1.0"
connector = { path = "connector" }
