<gr-dialog
  [header]="title()"
  [(visible)]="visible"
  [width]="width()"
>
  <div class="form-dialog__content">
    <ng-content></ng-content>
  </div>
  <div grDialogFooter>
    <button
      grButton
      [label]="cancelLabel()"
      severity="secondary"
      (click)="onCancel()"
      [disabled]="loading()"
    ></button>
    @if (submitIcon() || submitSeverity()) {
      <button
        grButton
        [label]="submitLabel()"
        [icon]="submitIcon() ?? ''"
        [severity]="$any(submitSeverity())"
        (click)="onSubmit()"
        [loading]="loading()"
        [disabled]="loading() || disabled()"
      ></button>
    } @else {
      <button
        grButton
        [label]="submitLabel()"
        (click)="onSubmit()"
        [loading]="loading()"
        [disabled]="loading() || disabled()"
      ></button>
    }
  </div>
</gr-dialog>
