<!--
 * SPDX-FileCopyrightText: 2026 Wavelens GmbH <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 -->

<!-- templates/dashboard/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'dashboard/images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}">
    <script src="{% static 'dashboard/js/main.js' %}"></script>
    <link href="{% static 'dashboard/fonts/space-mono.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/fonts/material-symbols-outlined.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/fonts/material-symbols-rounded.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/fonts/material-icons.css' %}" rel="stylesheet">
</head>
<body>
    {% include "../header.html" %}
    <main>
        {% block content %}
        <!-- Hauptinhalt der Seite -->
        {% endblock %}
    </main>

    <footer>
        <!-- Fußzeile -->
    </footer>
</body>
</html>
