/*
 * SPDX-FileCopyrightText: 2026 Wavelens GmbH <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@use '../../../../styles/variables' as *;

.form-dialog__content {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  padding: $spacing-sm 0;
}
