/*
 * SPDX-FileCopyrightText: 2026 Wavelens GmbH <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@use '../../../styles/variables' as *;

:host {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gr-border);
  border-radius: $border-radius-md;
  box-shadow: var(--gr-shadow-raised);
  overflow: hidden;
}
