<div class="row" [class.is-muted]="muted()" [class.is-link]="!!link()">
  @if (link(); as destination) {
    <a class="row-link" [routerLink]="destination" [attr.aria-label]="linkLabel()"></a>
  }
  <div class="row-info">
    @if (icon()) {
      <gr-icon [name]="icon()!" />
    }
    <div class="row-text">
      <div class="row-name"><ng-content></ng-content></div>
      <div class="row-meta"><ng-content select="[slot=meta]"></ng-content></div>
    </div>
  </div>
  <div class="row-actions"><ng-content select="[slot=actions]"></ng-content></div>
  @if (link()) {
    <gr-icon class="row-chevron" name="chevron_right" />
  }
</div>
