<!--
 * SPDX-FileCopyrightText: 2025 Wavelens GmbH <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 -->

 {% extends 'dashboard/settings/base.html' %}


 <head>
     {% load static %}
     {% load i18n %}
 </head>
 
 {% block page_title %}{% trans 'Cache Settings' %}{% endblock %}

{% block settings_title %}{% trans 'Cache Settings' %}{% endblock %}

{% block navigation_items %}
    <li><a class="settings-nav-link active" href=""><span class="material-symbols-outlined m-r-5">hub</span>{% trans 'Cache' %}</a></li>
{% endblock %}

 {% block inhalt %}
<div class="container">
    <div class="header m-b-1rem">
        <div>
            <h1>{% trans 'Edit Cache' %}</h1>
        </div>
    </div>
    
    <div class="">
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.field.widget|default:"" == form.fields.remember_me.widget %}
                    <div class="form-check">
                        {{ field }}
                        <label for="{{ field.id_for_label }}" class="form-check-label">{% trans field.label %}</label>
                    </div>
                {% else %}
                    <div class="form-field">
                        <label for="{{ field.id_for_label }}" {% if field.field.required %}class="required-label"{% endif %}>{% trans field.label %}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="error">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="submit-btn">{% trans 'Save' %}</button>
        </form>
        
        <div class="delete-section cache-delete-section">
            <h3 class="text-danger">{% trans 'Danger Zone' %}</h3>
            <p>{% trans 'Once you delete a cache, there is no going back. Please be certain.' %}</p>
            <form method="post" action="{% url 'deleteCache' cache %}" id="deleteCacheForm">
                {% csrf_token %}
                <button type="button" class="btn btn-danger delete-trigger" data-title="{% trans 'Delete Cache' %}" data-message="{% trans 'Are you sure you want to delete this cache? This action cannot be undone.' %}" data-form="deleteCacheForm">{% trans 'Delete Cache' %}</button>
            </form>
        </div>
    </div>
</div>
 {% endblock %}