/*
 * SPDX-FileCopyrightText: 2026 Wavelens GmbH <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@use '../../../styles/variables' as *;

:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--gr-card-min, 400px), 1fr));
  gap: $spacing-lg;
}
