/*
 * SPDX-FileCopyrightText: 2026 Wavelens GmbH <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@use '../../../../styles/variables' as *;

.form-error {
  display: block;
  margin-top: $spacing-xs;
  color: $color-danger;
  font-size: $font-size-xs;
}
