[package]
name = "web"
version = "0.4.0"
edition = "2024"
publish = false
license = "AGPL-3.0"
authors = ["Wavelens GmbH <info@wavelens.io>"]

[lib]
name = "web"
path = "src/lib.rs"

[dependencies]
axum = { version = "0.8", features = ["multipart"] }
axum-streams = { version = "0.24", features = ["json"] }
async-stream = "0.3"
chrono = "0.4"
core = { path = "../core" }
builder = { path = "../builder" }
entity = { path = "../entity" }
git-url-parse = "0.6"
jsonwebtoken = { version = "10.2", features = ["aws_lc_rs"] }
password-auth = { version = "1.0.0", features = ["argon2"] }
rand = "0.9"
sea-orm = { version = "1.1", features = ["json-array", "mock", "postgres-array", "runtime-tokio", "sqlx-postgres", "with-uuid"] }
serde = { version = "1", features = ["derive"] }
tokio = { version = "1.48", features = ["process", "rt-multi-thread"] }
tokio-util = { version = "0.7", features = ["io"] }
uuid = { version = "1.19", features = ["fast-rng", "macro-diagnostics", "v4"] }
serde_json = "1.0"
oauth2 = "5.0"
openidconnect = "4.0"
url = "2.5"
reqwest = { version = "0.12", features = ["json"] }
email_address = "0.2"
tower-http = { version = "0.6.8", features = ["cors", "trace"] }
http = "1.4"
tower = "0.5"
http-body-util = "0.1"
bytes = "1.11"
tracing = "0.1"
anyhow = "1.0"
thiserror = "2.0"

[dev-dependencies]
tokio-test = "0.4"
axum-test = "18.4"
tower = "0.5"
