<!--
 * SPDX-FileCopyrightText: 2024 Wavelens UG <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR WL-1.0
 -->

{% extends 'dashboard/index.html' %}

{% block title %}Download{% endblock %}

{% block content %}

{% include "../individualHeader.html" %} 

<head>
    {% load static %}
    {% load i18n %}
</head>

<div class="container-table">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>{% trans 'Type' %}</th>
                <th>{% trans 'Link' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td>{% trans file.file %}</td>
                    <td>{% trans file.type %}</td>
                    <td><a>{% trans file.link %}</a></td>
                    <td>{% trans file.actions %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
