<!--
 * SPDX-FileCopyrightText: 2025 Wavelens UG <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 -->

{% extends 'dashboard/index.html' %}

<head>
    {% load static %}
    {% load i18n %}
</head>

{% block title %}{% trans 'Download' %}{% endblock %}

{% block content %}

{% include "../individualHeader.html" %} 



<div class="container-table">
    <table class="workflows-table">
        <thead>
            <tr>
                <th></th>
                <th>{% trans 'Type' %}</th>
                <th>{% trans 'Link' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ file.file }}</td>
                    <td>{{ file.type }}</td>
                    <td><a>{{ file.link }}</a></td>
                    <td>{{ file.actions }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
