<!--
 * SPDX-FileCopyrightText: 2025 Wavelens UG <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 -->

{% extends 'dashboard/index.html' %}

<head>
    {% load static %}
    {% load i18n %}
</head>

{% block title %}{% trans 'Download' %}{% endblock %}

{% block content %}

{% include "../individualHeader.html" %} 



<div class="container">
    <!-- <table class="workflows-table">
        <thead>
            <tr>
                <th></th>
                <th>{% trans 'Type' %}</th>
                <th>{% trans 'Link' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody> -->
            <div class="home-container">
                <div class="workflow-item">
                    <span>{% trans 'Type' %} {% trans 'Link' %} {% trans 'Actions' %}</span>
                </div>
            {% for file in files %}
                
                <div  class="workflow-item">
                    <div class="d-flex p-0">
                        <span class="flex-c m-r-1rem">
                            <span>{{ file.file }}</span>
                        </span>
                        <span class="flex-c m-r-1rem">
                            <span>{{ file.type }}</span>
                        </span>
                        <span class="flex-c m-r-1rem">
                            <span>{{ file.link }}</span>
                        </span>
                        <span class="flex-c">
                            <span>{{ file.actions }}</span>
                        </span>
                    </div>
                </div>
            {% endfor %}
            </div>
        <!-- </tbody>
    </table> -->
</div>
{% endblock %}