<!--
 * SPDX-FileCopyrightText: 2024 Wavelens UG <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 -->

{% extends 'dashboard/index.html' %}


<head>
    {% load static %}
    {% load i18n %}
</head>

{% block title %}{% trans 'Home' %}{% endblock %}

{% block content %}

<div class="container">
    <div class="header m-b-1rem">
        <div>
            <h1>{% trans 'Repositories' %}</h1>
        </div>
    </div>
    <div class="m-b-1rem">
        <div class="filter-container">
            <div class="search-container">
                <input type="text" placeholder="Search">
                <button class="button-round search-button">{% trans 'Search' %}</button>
            </div>
        </div>
    </div>


    <div class="home-container">
        {% for block in details_blocks %}
            <div>
                <a class="full-width normal-hover" href="{% url 'workflow' block.id %}">
                    <span>{% trans block.project %}</span><br><span class="text-light">{{ block.description }}</span>
                </a>
                <div class="d-flex p-0">
                    <span class="flex-c m-r-1rem">
                        <span class="material-symbols-outlined m-r-3">
                            mode_standby
                        </span>
                        <span class="text-light-n-s">hier kommt die anzahl der ausführungen hin</span>
                    </span>
                    <span class="flex-c">
                        <span class="material-symbols-outlined m-r-3">
                            graph_1
                        </span>
                        <span class="text-light-n-s">hier kommt die evalId hin</span>
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
</div> 
{% endblock %}
