<!-- templates/dashboard/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}">
</head>
<body>
    <header>
        <!-- Navigation, Logo usw. -->
    </header>
    
    <main>
        {% block content %}
        <!-- Hauptinhalt der Seite -->
        {% endblock %}
    </main>

    <footer>
        <!-- Fußzeile -->
    </footer>
</body>
</html>