<!--
 * SPDX-FileCopyrightText: 2024 Wavelens UG <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 -->

{% extends 'dashboard/index.html' %}

<head>
    {% load static %}
    {% load i18n %}
</head>

{% block title %}{% trans 'Log' %}{% endblock %}

{% block content %}

{% include "../individualHeader.html" %}

{% include "../backHeader.html" %}


<div class="outerbody">
    <div class="content-left">
        <p class="border-bottom space-normal no-side-padding"><a class="p-l-1rem d-webkit-box">{% trans 'Overview' %}</a></p>
        <div class="flex-c activeeffect-sidebar">
            <!-- <img class="green-filter center-image" src="{% static 'dashboard/images/check-circle.svg' %}" alt="X Circle">
            <span class="material-symbols-rounded filled green">
               check_circle
           </span> -->
           {% if success != 'waiting' %}
                <span class="material-icons {% if success == 'true' %}green{% else %}red{% endif %}">{% if success == 'true' %}check_circle{% else %}cancel{% endif %}</span>
           {% else %}
               <div class="loader"></div>
           {% endif %}
            <a>{% trans 'Build' %}</a>
        </div>
    </div>
    <div class="full-width">
        <div class="innerbody-top d-flex">
            <div class="m-r-2rem">
               <div class="text-light m-b-05rem">{% trans 'Triggered via' %} {{ triggerArt }} {{ triggerTime }} {% trans 'ago' %}</div>
               <div><a class="normal-hover" href=""><img src="{{ request.user.image }}" class="icon-center border-radius-5"><span>{{ request.user.name }} </span></a> <span class="material-symbols-outlined icon-center f-s-21px">{% trans 'commit' %}</span> {{ git }} <span class="branch">{{ branch }}</span></div>
            </div>
            <div class="m-r-2rem">
                <div class="text-light m-b-05rem">{% trans 'Status' %}</div>
                <div>{{ status }}</div>
            </div>
            <div class="m-r-2rem">
                <div class="text-light m-b-05rem">{% trans 'Total duration' %}</div>
                <div>{{ duration }}</div>
            </div>
            <div class="m-r-2rem">
                <div class="text-light m-b-05rem">{% trans 'Artifacts' %}</div>
                <div>{{ artifacts }}</div>
            </div>
        </div>
        <div class="innerbody">
            <div class="innerbody-header border-bottom">
                <div>
                    <span>{% trans built_version %}</span><br>
                    <span class="text-light">{{ status }} {{ time }} {% trans 'months ago in' %} {{ duration }}</span>
                </div>
                <br>
                <div class="flex-c">
                    <!-- <img class="green-filter center-image" src="{% static 'dashboard/images/check-circle.svg' %}" alt="X Circle"> -->
                    {% if success != 'waiting' %}
                        <span class="material-icons {% if success == 'true' %}green{% else %}red{% endif %}">
                            {% if success == 'true' %}check_circle{% else %}cancel{% endif %}
                        </span>
                    {% else %}
                        <div class="loader"></div>
                    {% endif %}
                    <span>{% trans 'Build' %}</span>
                </div>
            </div>
            <div class="p-1rem">
                <div class="code-container monospace">
                    {% for block in details_blocks %}
                        <!-- <details class="details-item color-secondary"> -->
                            <!-- <summary></summary> -->
                            <div class="details-content color-secondary">
                                {% for line in block.details %}
                                    <div class="line"></div>
                                {% endfor %}
                            </div>
                        <!-- </details> -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const token = "{{ request.user.session }}";
    const url = "http://127.0.0.1:3000/api/evaluation/9404fcdb-11a9-4349-b28b-782296c63f6b/builds";
</script>

<script src="../../static/dashboard/js/log.js"></script>


<script>
    let lineCounter = 1;

    // document.querySelectorAll('.details-item').forEach(details => {
    //     // const summary = details.querySelector('summary');
    //     // summary.setAttribute('data-line-number', lineCounter++);

    //     const content = details.querySelector('.details-content');
    //     content.querySelectorAll('.line').forEach(line => {
    //         line.setAttribute('data-line-number', lineCounter++);
    //     });
    // });

    document.querySelectorAll('.details-content').forEach(details => {
        details.querySelectorAll('.line').forEach(line => {
            line.setAttribute('data-line-number', lineCounter++);
        });
    });
</script>

{% endblock %}
