<!--
 * SPDX-FileCopyrightText: 2024 Wavelens UG <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR WL-1.0
 -->

{% extends 'dashboard/index.html' %}

{% block title %}Models{% endblock %}

{% block content %}

<head>{% load static %}</head>

<div class="container">
    <table class="workflows-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for model in models %}
                <tr>
                    <td>{{ model.name }}</td>
                    <td>{{ model.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
