/*
 * SPDX-FileCopyrightText: 2026 Wavelens GmbH <info@wavelens.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@use '../../styles/variables' as *;

.dashboard-section-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacing-md;

  .view-all {
    color: $text-secondary;
    font-size: $font-size-sm;
    transition: $transition-fast;

    &:hover {
      color: $text-primary;
    }
  }
}
