[package]
name = "entity"
version = "0.1.0"
edition = "2021"
publish = false
license = "AGPL-3.0"
authors = ["Wavelens UG <info@wavelens.io>"]

[lib]
name = "entity"
path = "src/lib.rs"

[dependencies]
chrono = "0.4"
serde = { version = "1", features = ["derive"] }
uuid = { version = "1.14", features = ["fast-rng", "macro-diagnostics", "v4"] }

[dependencies.sea-orm]
version = "1.1"
features = ["json-array", "mock", "postgres-array", "runtime-tokio", "sqlx-postgres", "with-uuid"]
